In [1]:
import numpy as np
import pandas as pd

In [2]:
df_0 = pd.read_csv('workshops.csv')
df_0

     Year Month  Start   End                Name Earnings
0  2021.0   NaN    NaN   NaN                 NaN      NaN
1     NaN  June    NaN   NaN                 NaN      NaN
2     NaN   NaN    1.0   3.0          gRPC in Go  $33,019
3     NaN   NaN    7.0  10.0   Optimizing Python  $42,238
4     NaN   NaN   28.0  30.0  python Foundations  $24,372
5     NaN  July    NaN   NaN                 NaN      NaN
6     NaN   NaN    5.0   8.0      go concurrency  $46,382
7     NaN   NaN   21.0  22.0   Writing Secure Go  $27,038

In [3]:
df_0['Year'].fillna(method='ffill', inplace=True)
df_0['Month'].fillna(method='ffill', inplace=True)
df_0

     Year Month  Start   End                Name Earnings
0  2021.0   NaN    NaN   NaN                 NaN      NaN
1  2021.0  June    NaN   NaN                 NaN      NaN
2  2021.0  June    1.0   3.0          gRPC in Go  $33,019
3  2021.0  June    7.0  10.0   Optimizing Python  $42,238
4  2021.0  June   28.0  30.0  python Foundations  $24,372
5  2021.0  July    NaN   NaN                 NaN      NaN
6  2021.0  July    5.0   8.0      go concurrency  $46,382
7  2021.0  July   21.0  22.0   Writing Secure Go  $27,038

In [4]:
df_1 = df_0[pd.notnull(df_0['Earnings'])].copy()
df_1

     Year Month  Start   End                Name Earnings
2  2021.0  June    1.0   3.0          gRPC in Go  $33,019
3  2021.0  June    7.0  10.0   Optimizing Python  $42,238
4  2021.0  June   28.0  30.0  python Foundations  $24,372
6  2021.0  July    5.0   8.0      go concurrency  $46,382
7  2021.0  July   21.0  22.0   Writing Secure Go  $27,038

In [5]:
def as_date(row, col):
    year = int(row['Year'])
    month = row['Month']
    day = int(row[col])
    ts = f'{month} {day}, {year}'
    return pd.to_datetime(ts, format='%B %d, %Y')

df_1['start'] = df_1.apply(as_date, axis=1, args=('Start',))
df_1['end'] = df_1.apply(as_date, axis=1, args=('End',))
df_1

,Year,Month,Start,End,Name,Earnings,start,end
2,2021.0,June,1.0,3.0,gRPC in Go,"$33,019",2021-06-01,2021-06-03
3,2021.0,June,7.0,10.0,Optimizing Python,"$42,238",2021-06-07,2021-06-10
4,2021.0,June,28.0,30.0,python Foundations,"$24,372",2021-06-28,2021-06-30
6,2021.0,July,5.0,8.0,go concurrency,"$46,382",2021-07-05,2021-07-08
7,2021.0,July,21.0,22.0,Writing Secure Go,"$27,038",2021-07-21,2021-07-22

In [6]:
def topic(name):
    if 'go' in name:
        return 'go'
    if 'python' in name:
        return 'python'

df_1['topic'] = df_1['Name'].str.lower().apply(topic)
df_1

,Year,Month,Start,End,Name,Earnings,start,end,topic
2,2021.0,June,1.0,3.0,gRPC in Go,"$33,019",2021-06-01,2021-06-03,go
3,2021.0,June,7.0,10.0,Optimizing Python,"$42,238",2021-06-07,2021-06-10,python
4,2021.0,June,28.0,30.0,python Foundations,"$24,372",2021-06-28,2021-06-30,python
6,2021.0,July,5.0,8.0,go concurrency,"$46,382",2021-07-05,2021-07-08,go
7,2021.0,July,21.0,22.0,Writing Secure Go,"$27,038",2021-07-21,2021-07-22,go

In [7]:
df_1['earnings'] = pd.to_numeric(
    df_1['Earnings'].str.replace(r'[$,]', '')
).astype(np.float64)
df_1

/var/folders/b4/9tl2xvtn0cs1qv8814yt82_80000gn/T/ipykernel_5178/2570587618.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_1['Earnings'].str.replace(r'[$,]', '')

,Year,Month,Start,End,Name,Earnings,start,end,topic,earnings
2,2021.0,June,1.0,3.0,gRPC in Go,"$33,019",2021-06-01,2021-06-03,go,33019.0
3,2021.0,June,7.0,10.0,Optimizing Python,"$42,238",2021-06-07,2021-06-10,python,42238.0
4,2021.0,June,28.0,30.0,python Foundations,"$24,372",2021-06-28,2021-06-30,python,24372.0
6,2021.0,July,5.0,8.0,go concurrency,"$46,382",2021-07-05,2021-07-08,go,46382.0
7,2021.0,July,21.0,22.0,Writing Secure Go,"$27,038",2021-07-21,2021-07-22,go,27038.0

In [8]:
df_1 = df_1[['start', 'end', 'Name', 'topic', 'earnings']]
df_1.rename(columns={'Name': 'name'}, inplace=True)
df_1

/var/folders/b4/9tl2xvtn0cs1qv8814yt82_80000gn/T/ipykernel_5178/1673197610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.rename(columns={'Name': 'name'}, inplace=True)

       start        end                name   topic  earnings
2 2021-06-01 2021-06-03          gRPC in Go      go   33019.0
3 2021-06-07 2021-06-10   Optimizing Python  python   42238.0
4 2021-06-28 2021-06-30  python Foundations  python   24372.0
6 2021-07-05 2021-07-08      go concurrency      go   46382.0
7 2021-07-21 2021-07-22   Writing Secure Go      go   27038.0

In [ ]:
df_1.reset_index()

In [ ]:
df_1=df_1[['start','end','name','topic','earnings']]

In [ ]:
df_1['start'][2]